 html, body, #root {
    height: 100%;
}

.tab-content{
    border: 1px solid #e0e0e0;
    border-top: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 20px;
}

.nav-fill{
    border: 1px solid #e0e0e0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #f7f7f7;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration-color: black;
}

.nav-link{
    color: black;
}